body {
    background-color: #000;
}

#titulo {
    color: aliceblue;
    text-align: center;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: relative;
    margin: 8px;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

  /* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
    position: -webkit-sticky;
    width: 50%; /* Full width */
    background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 90%; background-color: #4CAF50;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 65%; background-color: #f44336;} /* Red */
.php {width: 60%; background-color: #808080;} /* Dark Grey */

.nameBar {
    color: #f1f1f1;
}